<div class="nodes">
	<% @nodes.each do |n| %>
		<div class="node">
			<div><%= n.id %></div>
			<div><%= n.name %></div>
			<div><%= n.description %></div>
			<div><%= n.current_number %></div>
			<div><%= n.next_node %></div>
		</div>
	<% end %>
</div>